* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.wrapper {
    display: flex;
    position: relative;
    width: 100vw;
    height: 100vh;
}

.block_1 {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: url(img/cat.jpg) no-repeat center;
    background-size: cover;
    z-index: 3;
}

h1 {
    color: rgb(255, 255, 255);
    font-size: 60px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 100;
    text-shadow: 2px 2px 3px rgb(26, 25, 25);
}

.block_2 {
    width: 2%;
    height: 100%;
    z-index: 4;
    position: relative;
    background: url(img/new-york-city.jpg) no-repeat center;
    background-attachment: fixed;
    cursor: pointer;
    transition: 1.8s linear;
    -webkit-transition: 1.8s linear;
    -moz-transition: 1.8s linear;
    -ms-transition: 1.8s linear;
    -o-transition: 1.8s linear;
}

.block_2:hover {
    opacity: 0;
    transition: 0s linear;
    -webkit-transition: 0s linear;
    -moz-transition: 0s linear;
    -ms-transition: 0s linear;
    -o-transition: 0s linear;
}