* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

section {
    width: 100%;
    height: 100vh;
    background: rgb(71, 135, 253);
    position: relative;
    overflow: hidden;
}

h2 {
    text-align: center;
    margin-top: 25%;
    text-transform: uppercase;
    color: rgb(255, 255, 255);
    font-size: 65px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 900;
    display: block;
    opacity: 0;
    transition: 3s;
    opacity: 1;
    -webkit-transition: 3s;
    -moz-transition: 3s;
    -ms-transition: 3s;
    -o-transition: 3s;
}

.overlay {
    height: 180vh;
    width: 300px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-45deg);
    -webkit-transform: translate(-50%, -50%) rotate(-45deg);
    -moz-transform: translate(-50%, -50%) rotate(-45deg);
    -ms-transform: translate(-50%, -50%) rotate(-45deg);
    -o-transform: translate(-50%, -50%) rotate(-45deg);
    box-shadow: 0 0 80px 4px rgb(0, 0, 0);
    transition: 4s box-shadow;
    -webkit-transition: 4s box-shadow;
    -moz-transition: 4s box-shadow;
    -ms-transition: 4s box-shadow;
    -o-transition: 4s box-shadow;
}